* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

header {
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.logo .image img {
    width: 100px;
}

.logo .info {
    margin-left: 15px;
    align-content: center;
    line-height: 30px;
}

.logo .info i {
    font-size: 20px;
    padding-inline: 2px;
    background-color: #9ea5a8;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
}

.navbar .contact .navbar-nav {
    list-style-type: none;
}

.navbar .contact .navbar-nav .nav-item {
    padding: 15px;
}

.navbar .contact .navbar-nav .nav-item i {
    color: #919698;
    font-size: 15px;
}

.navbar .contact .navbar-nav .nav-link {
    text-decoration: none;
    color: #333;
}

.navbar .contact .navbar-nav .nav-link.active {
    background-color: #54BA4E;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
}

.navbar .contact .navbar-nav .nav-link.active i {
    color: #fff;
    padding-right: 10px;
}

main {
    background-color: #DAE3E7;
    height: 230vh;
}

.row {
    display: flex;
}

.col-8 {
    width: 66.66%;
    margin-top: 20px;
}

.about {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    color: #6f7475;
}

.about h1 {
    margin-bottom: 20px;
    font-size: 20px;
}

.about p {
    line-height: 30px;
}

.project {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    color: #6f7475;
    border-radius: 10px;
}

.project .title {
    padding: 30px 0px;
}

.project img {
    width: 100%;

}

.project .indent {
    text-indent: 40px;
    padding: 30px 0;
}

.project p {
    line-height: 30px;
    margin-bottom: 30px;
}

.project .button {
    display: flex;
    justify-content: center;
}

.project .button .btn {
    width: 270px;
    text-decoration: none;
    background-color: #479FC8;
    padding: 10px 30px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
}

.project .button .btn i {
    padding-right: 10px;
}

.project .detail-area {
    margin-top: 20px;
    display: flex;
    height: 150px;
    color: #6f7475;
}

.project .detail-area .detail {
    margin-left: 30px;
}
.project .detail-area .detail h2{
    font-size: 20px;
}

.project .detail-area .image-detail img {
    border-radius: 10px;
    box-shadow: 5px 5px 10px #DAE3E7;
}

.col-4 {
    width: 33.33%;
    margin-top: 20px;
}

.link {
    margin-left: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 30px;
    line-height: 30px;
    margin-bottom: 20px;
}

.link span i {
    font-size: 15px;
    padding-right: 20px;
    color: #9ea5a8;
}

.link a i {
    font-size: 15px;
    padding-right: 15px;
    color: #9ea5a8;
}

.link a {
    color: #66CB8C;
}

.skill {
    margin-left: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 30px;
}

.skill h1 {
    margin-bottom: 20px;
    color: #6f7475;
}

.skill p {
    line-height: 30px;
}

.skill .level-area .sub {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-content: center;
}

.skill .level-area h3,
span {
    color: #9c9898;
    font-size: 15px;
    margin-top: 10px;
}

.skill .level-area span i {
    font-size: 13px;
    background-color: #DAE3E7;
    border-radius: 100%;
    padding: 2px 6px;
    margin-left: 5px;
}

.skill .git {
    color: #53ba4ed7;
    font-size: 13px;
}

.skill .git i {
    padding-right: 10px;
}

.skill .level {
    width: 400px;
    height: 15px;
    margin-top: 10px;
    background-color: #DAE3E7;
    border-radius: 20px;
    position: relative;
    margin-bottom: 20px;
}

.skill .level::before {
    content: '';
    width: 370px;
    height: 100%;
    background-color: #66CB8C;
    position: absolute;
    border-radius: 20px;
}

.skill .level4::before {
    content: '';
    width: 350px;
    height: 100%;
    background-color: #66CB8C;
    position: absolute;
    border-radius: 20px;
}

.testimonials {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0px 0px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #DAE3E7;
}

.testimonials .text {
    padding-left: 10px;
    border-left: 6px solid #74d89a;
}

.testimonials .text1 {
    padding: 17px;
    line-height: 20px;
    color: #808485;
}

.testimonials .text1 span {
    font-size: 13px;
}

.testimonials span i {
    font-size: 13px;
    background-color: #DAE3E7;
    border-radius: 100%;
    padding: 2px 6px;
    margin-left: 5px;
}

.testimonials .git {
    color: #53ba4ed7;
    font-size: 13px;
}

.testimonials .git i {
    padding-right: 10px;
}

.education {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0px 0px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #DAE3E7;
}

.education .school h4 i {
    padding-right: 4px;
}

.education .school span {
    padding-left: 25px;
}

.education .school,
.languages .laguage {
    color: #6f6f72;
    line-height: 26px;
    margin-bottom: 20px;
}

.education h1,
.languages h1,
.testimonials h1 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #585859;
}

.languages {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0px 0px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #DAE3E7;
}

.languages .laguage i {
    color: #66CB8C;
}